html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

button:focus {
  outline: none;
}

:root {
  --color-bg-main: #e1d4c9;
  --color-text-dark: #403f3d;
  --color-accent: #b0907a;
  --color-border-light: #c1b6ad;
  --color-bg-dark: #665f55;
}

.dark-theme {
  --color-bg-main: #211f1d;
  --color-text-dark: #e1d4c9;
  --color-border-light: #665f55;
  --color-bg-dark: #403f3d;
}

@font-face {
  font-family: "Inter";
  src:
    local("Inter-Regular"),
    url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:
    local("Inter-SemiBold"),
    url("../fonts/Inter-SemiBold.woff2") format("woff2"),
    url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.none {
  display: none;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 0 40px 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: var(--color-bg-main);
  scrollbar-gutter: stable;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* header */

.header {
  padding-bottom: 16px;
}

.header__wrapper {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__item {
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: var(--color-text-dark);
}

.header__item--burgerMenu {
  display: none;
  opacity: 1;
}

.header__item-link,
.header__link-menu {
  position: relative;
}

.header__item-link::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: var(--color-text-dark);
  transition: width 0.3s ease-in-out;
}

.header__item-link:hover:after {
  width: 100%;
}

.header__link-menu--active::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: var(--color-text-dark);
}

.header__link-wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__link-menu {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: var(--color-text-dark);
  background-color: transparent;
  border-color: transparent;
}

.header__link-theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 4px;
  border: 1px solid var(--color-border-light);
  border-radius: 100px;
}

.header__link-theme:hover > .header__link-moon {
  background-color: var(--color-bg-dark);
}

.header__link-theme:hover > .header__link-moon path {
  fill: var(--color-bg-main);
  transition: fill 0.3s ease-in-out;
}

.header__link-sun {
  padding: 6px;
  width: 36px;
  height: 36px;
  background-color: var(--color-accent);
  border-radius: 100px;
}

.header__link-moon {
  padding: 9px;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  transition: background-color 0.3s ease-in-out;
}

.header__link-moon path {
  fill: var(--color-text-dark);
  transition: fill 0.3s ease-in-out;
}

.header__burger {
  display: none;
}

/* menu */

.menu {
  margin-bottom: 100px;
}

.menu__wrapper {
  position: relative;
  text-align: center;
}

.menu__title {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  color: var(--color-text-dark);
  text-align: center;
}

.menu__title i {
  color: var(--color-accent);
  font-style: italic;
}

.menu__tabs-wrapper {
  margin-bottom: 37px;
}

.menu__list-tabs {
  display: flex;
  column-gap: 16px;
  max-width: 361px;
  margin: 0 auto;
}

.menu__btn-tabs {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 8px 16px 8px 8px;
  background-color: transparent;
  border: 1px solid var(--color-border-light);
  border-radius: 100px;
  cursor: pointer;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.menu__btn-tabs--active {
  background-color: var(--color-bg-dark);
  border-color: var(--color-bg-dark);
}

.menu__btn-tabs--active .menu__btn-tabs-img {
  background-color: var(--color-bg-main);
  border-color: transparent;
}

.menu__btn-tabs--active .menu__btn-tabs-descr {
  color: var(--color-bg-main);
}

.menu__btn-tabs:hover {
  background-color: var(--color-bg-dark);
  border-color: var(--color-bg-dark);
}

.menu__btn-tabs:hover .menu__btn-tabs-img {
  background-color: var(--color-bg-main);
  border-color: transparent;
}

.menu__btn-tabs:hover .menu__btn-tabs-descr {
  color: var(--color-bg-main);
}

.menu__btn-tabs-img {
  width: 30px;
  height: 30px;
  border: 1px solid var(--color-border-light);
  border-radius: 50%;
  background-color: var(--color-border-light);
}

.menu__tabs-image {
  width: 20px;
  height: 26px;
}

.menu__btn-tabs-descr {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: var(--color-text-dark);
}

.menu__cards {
  margin-bottom: 40px;
}

.menu__cards-list {
  display: flex;
  column-gap: 40px;
  row-gap: 37px;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__cards-item {
  max-width: 310px;
  border: 1px solid var(--color-border-light);
  border-radius: 40px;
  cursor: pointer;
}

.menu__img-wrapper {
  height: 310px;
  overflow: hidden;
  border-radius: 40px;
}

.menu__cards-item-img {
  height: 100%;
  vertical-align: top;
  object-fit: cover;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.menu__cards-item:hover .menu__cards-item-img {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.menu__cards-item-content {
  width: 310px;
  height: 196px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.menu__cards-item-title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  color: var(--color-text-dark);
}

.menu__cards-item-descr {
  margin: 0;
  margin-bottom: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--color-text-dark);
}

.menu__cards-item-price {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  color: var(--color-text-dark);
}

.menu__btn-showMore {
  display: none;
  width: 60px;
  height: 60px;
  text-align: center;
  border: 1px solid var(--color-bg-dark);
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.menu__btn-showMore path {
  stroke: var(--color-text-dark);
  transition: stroke 0.3s ease-in-out;
}

.menu__btn-showMore--active {
  display: block;
  margin: auto;
}

.menu__btn-showMore:hover {
  background-color: var(--color-bg-dark);
}

.menu__btn-showMore:hover path {
  stroke: var(--color-bg-main);
}

/* modal */

.modal {
  width: 800px;
  padding: 0;
  border: none;
  border-radius: 40px;
  background-color: var(--color-bg-main);
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 0.7);
}

.scroll-lock {
  overflow: hidden;
}

.modal__wrapper {
  display: flex;
  width: 100%;
  padding: 16px;
}

.modal__image {
  max-width: 310px;
  max-height: 310px;
}

.modal__img {
  width: 100%;
  border-radius: 20px;
}

.modal__content {
  max-width: 428px;
  padding-left: 20px;
}

.modal__title {
  width: 100%;
  margin: 0;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: var(--color-text-dark);
  text-align: left;
}

.modal__descrip {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text-dark);
  text-align: left;
}

.size,
.additives {
  margin-bottom: 20px;
}

.size__title,
.additives__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text-dark);
  text-align: left;
}

.size__list,
.additives__list {
  display: flex;
  column-gap: 8px;
  flex-wrap: wrap;
}

.size__btn,
.additives__btn {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 8px;
  padding-right: 16px;
  background-color: transparent;
  border: 1px solid var(--color-border-light);
  border-radius: 25px;
  cursor: pointer;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.size__btn-img,
.additives__btn-img {
  display: block;
  width: 30px;
  height: 30px;
  padding: 3px 8px;
  background-color: var(--color-border-light);
  border-radius: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text-dark);
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.size__btn-descr,
.additives__btn-descr {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: var(--color-text-dark);
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.size__btn:hover,
.additives__btn:hover {
  background-color: var(--color-bg-dark);
  border-color: var(--color-bg-dark);
}

.size__btn:hover .size__btn-descr,
.additives__btn:hover .additives__btn-descr {
  color: var(--color-bg-main);
}

.size__btn:hover .size__btn-img,
.additives__btn:hover .additives__btn-img {
  background-color: var(--color-bg-main);
}

.size__btn--active {
  background-color: var(--color-bg-dark);
  border-color: var(--color-bg-dark);
  pointer-events: none;
  cursor: default;
}

.additives__btn--active {
  background-color: var(--color-bg-dark);
  border-color: var(--color-bg-dark);
}

.size__btn--active .size__btn-descr,
.additives__btn--active .additives__btn-descr {
  color: var(--color-bg-main);
}

.size__btn--active .size__btn-img,
.additives__btn--active .additives__btn-img {
  background-color: var(--color-bg-main);
}

.modal__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: var(--color-text-dark);
}

.modal__info {
  display: flex;
  column-gap: 8px;
  margin: 0;
  margin-bottom: 20px;
  padding: 12px 0;
  border-top: 1px solid var(--color-border-light);
}

.modal__descr {
  margin: 0;
  font-weight: 600;
  font-size: 10px;
  line-height: 140%;
  color: var(--color-text-dark);
  text-align: left;
}

.modal__btn--close {
  width: 100%;
  padding: 10px 0;
  border: 1px solid var(--color-bg-dark);
  border-radius: 100px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--color-text-dark);
  background-color: transparent;
  cursor: pointer;
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.modal__btn--close:hover {
  color: var(--color-bg-main);
  background-color: var(--color-bg-dark);
}

/* footer */

.footer__wrapper {
  display: flex;
  gap: 100px;
  align-items: center;
  padding: 100px;
  padding-bottom: 97px;
  background-color: var(--color-bg-dark);
  border-radius: 40px;
}

.footer__left {
  max-width: 530px;
}

.footer__title {
  margin: 0;
  margin-bottom: 40px;
  text-align: left;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  color: var(--color-bg-main);
}

.footer__title i {
  color: var(--color-accent);
}

.footer__list-social {
  display: flex;
  gap: 12px;
  transition:
    fill 0.2s ease-in-out,
    stroke 0.2s ease-in-out;
}

.footer__link-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid var(--color-border-light);
  border-radius: 50%;
  transition:
    background-color 0.3s ease-in-out,
    border 0.3s ease-in-out;
}

.footer__link-social:hover {
  border: 1px solid var(--color-bg-main);
  background-color: var(--color-bg-main);
}

.footer__link-social svg {
  stroke: var(--color-bg-main);
  transition: stroke 0.3s ease-in-out;
}

.footer__link-social:hover svg {
  stroke: var(--color-text-dark);
}

.footer__list-contact {
  margin-bottom: 9px;
}

.footer__right-title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  color: var(--color-bg-main);
}

.footer__item-contact {
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: var(--color-bg-main);
}

.footer__item-contact:not(:last-child) {
  margin-bottom: 16px;
}

.footer__item-span-iqon {
  margin-right: 5px;
}

.footer__item-link {
  position: relative;
}

.footer__item-link::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: var(--color-bg-main);
  transition: width 0.3s ease-in-out;
}

.footer__item-link:hover::after {
  width: 100%;
}
